apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
 name: default-applications
 namespace: argo-cd
spec:
 project: default
 destination:
   namespace: default
   server: https://kubernetes.default.svc
 source:
   repoURL: https://github.com/maifujalam/k8s_aws.git
   targetRevision: HEAD
   path: k8s/argocdApplication
 syncPolicy:
#   automated:   # Disabled    the auto sync
#     prune: false # Specifies if resources should be pruned during auto-syncing ( false by default ).
#     selfHeal: true # Specifies if partial app sync should be executed when resources are changed only in target Kubernetes cluster and no git change detected ( false by default ).
#     allowEmpty: false # Allows deleting all application resources during automatic syncing ( false by default ).
   syncOptions:
     - CreateNamespace=true
