**/.terraform/*
*.tfstate
*.tfstate.*
**/secrets.tfvars
.idea
venv
*.terraform
*/rootkey.csv
**/rootkey.csv
**/abc
**/settings.yaml
*/service-accounts
**/*.lock.hcl
**config
**.crt
**secrets
venv
.venv
